<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="quadruped_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0010664 -2.9668E-11 0.020254"
        rpy="0 0 0" />
      <mass
        value="0.094037" />
      <inertia
        ixx="0.00011281"
        ixy="-1.2535E-09"
        ixz="-3.8741E-07"
        iyy="0.00051375"
        iyz="-1.1243E-13"
        izz="0.0005809" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hip_fl_link">
    <inertial>
      <origin
        xyz="0.01441 0.015487 -3.6296E-06"
        rpy="0 0 0" />
      <mass
        value="0.036932" />
      <inertia
        ixx="1.0384E-05"
        ixy="2.2805E-07"
        ixz="1.4325E-09"
        iyy="4.9125E-06"
        iyz="9.3618E-10"
        izz="1.1663E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/hip_fl_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/hip_fl_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_fl_joint"
    type="revolute">
    <origin
      xyz="0.11257 0.016 0.02001"
      rpy="-0.13963 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_fl_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.6"
      upper="0.6"
      effort="1"
      velocity="8" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="25"
      k_velocity="1.5" />
  </joint>
  <link
    name="thigh_fl_link">
    <inertial>
      <origin
        xyz="0.0059586 0.0144 -0.050967"
        rpy="0 0 0" />
      <mass
        value="0.070547" />
      <inertia
        ixx="0.00011482"
        ixy="1.1571E-07"
        ixz="1.7711E-05"
        iyy="0.00011582"
        iyz="-4.6911E-07"
        izz="1.3808E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/thigh_fl_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/thigh_fl_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_fl_joint"
    type="revolute">
    <origin
      xyz="0.01414 0.046369 0"
      rpy="0 0.69813 0" />
    <parent
      link="hip_fl_link" />
    <child
      link="thigh_fl_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1.2"
      effort="1.2"
      velocity="7" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="20"
      k_velocity="1.2" />
  </joint>
  <link
    name="shank_fl_link">
    <inertial>
      <origin
        xyz="0.038486 0.0078703 -0.025809"
        rpy="0 0 0" />
      <mass
        value="0.01943" />
      <inertia
        ixx="8.3797E-06"
        ixy="-6.9541E-07"
        ixz="1.2055E-05"
        iyy="2.8711E-05"
        iyz="4.662E-07"
        izz="2.1085E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/shank_fl_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/shank_fl_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_fl_joint"
    type="revolute">
    <origin
      xyz="0.018944 0.0288 -0.1"
      rpy="0 -0.5236 0" />
    <parent
      link="thigh_fl_link" />
    <child
      link="shank_fl_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1"
      upper="2.4"
      effort="1.1"
      velocity="9" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="15"
      k_velocity="1" />
  </joint>
  <link
    name="hip_fr_link">
    <inertial>
      <origin
        xyz="0.01441 -0.015487 -3.9483E-06"
        rpy="0 0 0" />
      <mass
        value="0.036932" />
      <inertia
        ixx="1.0384E-05"
        ixy="-2.2743E-07"
        ixz="-1.4392E-09"
        iyy="4.9125E-06"
        iyz="9.3326E-10"
        izz="1.1663E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/hip_fr_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/hip_fr_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_fr_joint"
    type="revolute">
    <origin
      xyz="0.11257 -0.016 0.02001"
      rpy="0.13963 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_fr_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.6"
      upper="0.6"
      effort="1"
      velocity="8" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="25"
      k_velocity="1.5" />
  </joint>
  <link
    name="thigh_fr_link">
    <inertial>
      <origin
        xyz="0.0059512 -0.0144 -0.050969"
        rpy="0 0 0" />
      <mass
        value="0.070547" />
      <inertia
        ixx="0.00011483"
        ixy="-1.1609E-07"
        ixz="1.7712E-05"
        iyy="0.00011583"
        iyz="4.7054E-07"
        izz="1.3811E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/thigh_fr_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/thigh_fr_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_fr_joint"
    type="revolute">
    <origin
      xyz="0.01414 -0.046369 0"
      rpy="0 0.69813 0" />
    <parent
      link="hip_fr_link" />
    <child
      link="thigh_fr_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1.2"
      effort="1.2"
      velocity="7" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="20"
      k_velocity="1.2" />
  </joint>
  <link
    name="shank_fr_link">
    <inertial>
      <origin
        xyz="0.038487 -0.0078703 -0.025809"
        rpy="0 0 0" />
      <mass
        value="0.01943" />
      <inertia
        ixx="8.3797E-06"
        ixy="6.9502E-07"
        ixz="1.2055E-05"
        iyy="2.871E-05"
        iyz="-4.662E-07"
        izz="2.1083E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/shank_fr_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/shank_fr_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_fr_joint"
    type="revolute">
    <origin
      xyz="0.018944 -0.0288 -0.1"
      rpy="0 -0.5236 0" />
    <parent
      link="thigh_fr_link" />
    <child
      link="shank_fr_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1"
      upper="2.4"
      effort="1.1"
      velocity="9" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="15"
      k_velocity="1" />
  </joint>
  <link
    name="hip_rr_link">
    <inertial>
      <origin
        xyz="0.01441 -0.015487 -3.9483E-06"
        rpy="0 0 0" />
      <mass
        value="0.036932" />
      <inertia
        ixx="1.0384E-05"
        ixy="-2.2743E-07"
        ixz="-1.4392E-09"
        iyy="4.9125E-06"
        iyz="9.3326E-10"
        izz="1.1663E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/hip_rr_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/hip_rr_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_rr_joint"
    type="revolute">
    <origin
      xyz="-0.10995 -0.016 0.02001"
      rpy="0.13963 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_rr_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.6"
      upper="0.6"
      effort="1"
      velocity="8" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="25"
      k_velocity="1.5" />
  </joint>
  <link
    name="thigh_rr_link">
    <inertial>
      <origin
        xyz="0.0059512 -0.0144 -0.050969"
        rpy="0 0 0" />
      <mass
        value="0.070547" />
      <inertia
        ixx="0.00011483"
        ixy="-1.1609E-07"
        ixz="1.7712E-05"
        iyy="0.00011583"
        iyz="4.7054E-07"
        izz="1.3811E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/thigh_rr_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/thigh_rr_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_rr_joint"
    type="revolute">
    <origin
      xyz="-0.01414 -0.046369 0"
      rpy="0 0.69813 0" />
    <parent
      link="hip_rr_link" />
    <child
      link="thigh_rr_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1.2"
      effort="1.2"
      velocity="7" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="20"
      k_velocity="1.2" />
  </joint>
  <link
    name="shank_rr_link">
    <inertial>
      <origin
        xyz="0.038487 -0.0078703 -0.025809"
        rpy="0 0 0" />
      <mass
        value="0.01943" />
      <inertia
        ixx="8.3797E-06"
        ixy="6.9502E-07"
        ixz="1.2055E-05"
        iyy="2.871E-05"
        iyz="-4.662E-07"
        izz="2.1083E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/shank_rr_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/shank_rr_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_rr_joint"
    type="revolute">
    <origin
      xyz="0.018944 -0.0288 -0.1"
      rpy="0 -0.5236 0" />
    <parent
      link="thigh_rr_link" />
    <child
      link="shank_rr_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1"
      upper="2.4"
      effort="1.1"
      velocity="9" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="15"
      k_velocity="1" />
  </joint>
  <link
    name="hip_rl_link">
    <inertial>
      <origin
        xyz="0.01441 0.015487 -3.6296E-06"
        rpy="0 0 0" />
      <mass
        value="0.036932" />
      <inertia
        ixx="1.0384E-05"
        ixy="2.2805E-07"
        ixz="1.4325E-09"
        iyy="4.9125E-06"
        iyz="9.3618E-10"
        izz="1.1663E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/hip_rl_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/hip_rl_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_rl_joint"
    type="revolute">
    <origin
      xyz="-0.10995 0.016 0.02001"
      rpy="-0.13963 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_rl_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.6"
      upper="0.6"
      effort="1"
      velocity="8" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="25"
      k_velocity="1.5" />
  </joint>
  <link
    name="thigh_rl_link">
    <inertial>
      <origin
        xyz="0.0059586 0.0144 -0.050967"
        rpy="0 0 0" />
      <mass
        value="0.070547" />
      <inertia
        ixx="0.00011482"
        ixy="1.1571E-07"
        ixz="1.7711E-05"
        iyy="0.00011582"
        iyz="-4.6911E-07"
        izz="1.3808E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/thigh_rl_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/thigh_rl_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_rl_joint"
    type="revolute">
    <origin
      xyz="-0.01414 0.046369 0"
      rpy="0 0.69813 0" />
    <parent
      link="hip_rl_link" />
    <child
      link="thigh_rl_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1.2"
      effort="1.2"
      velocity="7" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="20"
      k_velocity="1.2" />
  </joint>
  <link
    name="shank_rl_link">
    <inertial>
      <origin
        xyz="0.038486 0.0078703 -0.025809"
        rpy="0 0 0" />
      <mass
        value="0.01943" />
      <inertia
        ixx="8.3797E-06"
        ixy="-6.9541E-07"
        ixz="1.2055E-05"
        iyy="2.8711E-05"
        iyz="4.662E-07"
        izz="2.1085E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/visual/shank_rl_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_description/meshes/collision/shank_rl_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_rl_joint"
    type="revolute">
    <origin
      xyz="0.018944 0.0288 -0.1"
      rpy="0 -0.5236 0" />
    <parent
      link="thigh_rl_link" />
    <child
      link="shank_rl_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1"
      upper="2.4"
      effort="1.1"
      velocity="9" />
    <safety_controller
      soft_upper_limit="3"
      soft_lower_limit="-3"
      k_position="15"
      k_velocity="1" />
  </joint>
</robot>